<!DOCTYPE html>
<html>
<head>
	<title>URL Shortener description</title>
</head>
<body>
	<h1>URL Shortener description</h1>
	<article>
		<section>
			<head>
				<h3>User stories</h3>
			</head>
			<ul>
				<li>
					User can pass url.
				</li>
				<li>
					User can link on short url.
				</li>
			</ul>
		</section>
		<section>
			<header>
				<p>Simple url creation</p>

			</header>
					<form action="/api/shorturl/new" method="post">

						<label>url to short:</label>
						<input type="text" name="url">
						<input type="submit" value="Submit">
					</form>
		</section>
	</article>
</body>
</html>