<!DOCTYPE html>
<html>
<head>
	<title>URL Shortener description</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
	<style>
		body {
				margin-left: 10%;
				margin-right: 10%;
		}
		article {
			width: 100%;

		}
		form { width: inherit;	}
		.input { margin: 0  0 auto};
		fieldset { width: inherit;  }
		li { line-height: 1.5 }
	</style>
</head>
<body>
	<h1>URL Shortener description</h1>
	<article>
		<section>
			<head>
				<h3>User stories</h3>
				<ol>
					<li>I can pass a URL as a parameter via POST method and I will receive a shortened URL in the JSON response. For example {"short_url":3,"original_url":"https://nanourl.glitch.me/"} </li>
					<li>
						If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.For example {"error":"invalid URL: goldsfsdfpi/shorturl/1"}
					</li>
					<li>
						When I visit that shortened URL, for example <a href="https://nanourl.glitch.me/api/shorturl/1" target="_blank"> https://nanourl.glitch.me/api/shorturl/1 </a> it will redirect me to my original link.
					</li>
				</ol>
			</head>
		</section>
		<section>
			<header>
				<p>Simple url creation</p>

			</header>
					<form action="/api/shorturl/new" method="post">
						<fieldset>
							<label>Url to short:</label>
							<input type="text" class="input" name="url">
							<input type="submit" value="Submit">
						</fieldset>

					</form>
		</section>
    
    	
    
	</article>
	<footer>
		<a target="_blank" href="https://github.com/Bael/fcc.backend.urlshortener">Source code on Github.</a>
	</footer>
</body>
</html>
